@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div id="banner">
        <img src="https://cdn.tgdd.vn/Files/2020/05/26/1258368/emd_640x360-600x400.gif" />
    </div>
    <div id="main">
        <div id="left">
            <div id="Remix">
                <h1>
                    Remix:
                </h1>
                <ul>
                    <li>
                        <a href="https://tranthinhphat.github.io/Remix/2PhutHon.html" target="_blank"><img src="https://lucloi.vn/wp-content/uploads/2020/12/Phut-Hon-Challenge-TikTok-Vietnamese-Music-Zero-Two-Musedash.jpg" width="800px" height="300px"></a>
                        <h2>
                            Tên ca khúc: 2 Phút hơn<br />
                            Sáng tác: Pháo <br />
                            Thể loại: Remix
                        </h2>
                    </li>

                    <li>
                        <a href="https://tranthinhphat.github.io/Remix/DoiHoaMatTroi.html" target="_blank"><img src="https://i.ytimg.com/vi/kXWq0k8hk0A/maxresdefault.jpg" width="800px" height="300px"></a>
                        <h2>
                            Tên ca khúc: Đồi Hoa Mặt Trời<br />
                            Sáng tác: Hoàng Yến ChiPi <br />
                            Thể loại: Remix
                        </h2>
                    </li>

                    <li>
                        <a href="https://tranthinhphat.github.io/Remix/HaConVuongNam.html" target="_blank"><img src="https://i.ytimg.com/vi/Ad_JPC9Gano/maxresdefault.jpg" width="800px" height="300px"></a>
                        <h2>
                            Tên ca khúc: Hạ Còn Vương Nắng<br />
                            Sáng tác: DATKAA x KIDO x Prod <br />
                            Thể loại: Remix
                        </h2>
                    </li>

                    <li>
                        <a href="https://tranthinhphat.github.io/Remix/BuongHang.html" target="_blank"><img src="https://i.ytimg.com/vi/RfwdEs2mryo/maxresdefault.jpg" width="800px" height="300px"></a>
                        <h2>
                            Tên ca khúc: Buông Hàng<br />
                            Sáng tác: Young Milo <br />
                            Thể loại: Rap - Remix
                        </h2>
                    </li>
                </ul>
            </div>

            <div id="NhacTre">
                <h1>
                    Nhạc Trẻ:
                </h1>
                <ul>
                    <li>
                        <a href="https://tranthinhphat.github.io/Remix/TheThai.html" target="_blank"><img src="https://i.ytimg.com/vi/9HXY5xNPxpI/maxresdefault.jpg" width="800px" height="300px"></a>
                        <h2>
                            Tên ca khúc: Thế Thái<br />
                            Sáng tác: Hương Ly <br />
                            Thể loại: Nhạc Trẻ
                        </h2>
                    </li>

                    <li>
                        <a href="https://tranthinhphat.github.io/Remix/YeuDungSoDau.html" target="_blank"><img src="https://i.ytimg.com/vi/IiVC7omXhUQ/maxresdefault.jpg" width="800px" height="300px"></a>
                        <h2>
                            Tên ca khúc: Yêu Đừng Sợ Đau<br />
                            Sáng tác: Ngô Lan Hương <br />
                            Thể loại: Nhạc Trẻ
                        </h2>
                    </li>

                    <li>
                        <a href="https://tranthinhphat.github.io/Remix/NgoiNhaHoaPink.html" target="_blank"><img src="https://i.ytimg.com/vi/ofB1dTimSEI/maxresdefault.jpg" width="800px" height="300px"></a>
                        <h2>
                            Tên ca khúc: Ngôi Nhà Hoa Hồng<br />
                            Sáng tác: Minh Vương M4U ft Hương Ly <br />
                            Thể loại: Nhạc Trẻ
                        </h2>
                    </li>

                    <li>
                        <a href="https://tranthinhphat.github.io/Remix/ThayToiYeuCoAy.html" target="_blank"><img src="https://i.ytimg.com/vi/whO78pdVfug/maxresdefault.jpg" width="800px" height="300px"></a>
                        <h2>
                            Tên ca khúc: Thay Tôi Yêu Cô Ấy<br />
                            Sáng tác: Thanh Hưng <br />
                            Thể loại: Nhạc Trẻ
                        </h2>
                    </li>
                </ul>
            </div>
        </div>
        <div id="right">
            <div class="menu_right">
                <h3>Danh sách các thể loại</h3>
                <ul>
                    <li><a href="#Remix">Remix</a></li>
                    <li><a href="#NhacTre">Nhạc Trẻ</a></li>
                    <li><a href="">Chill</a></li>
                    <li><a href="">Lofi</a></li>
                    <li><a href="">Rap</a></li>
                    <li><a href="">EDM</a></li>
                    <li><a href="">Bolero</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
